<h1>List Of All Users</h1>

<nav class="navbar navbar-default">
        <div class="container">
                <div>
                        <ul class="nav navbar-nav navbar-left">
                                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                        <a [routerLink]="['/alluserslist']">All Users</a>
                                </li>
                                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                        <a [routerLink]="['/adminslist']">Manage Admins</a>
                                </li>
                                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                        <a [routerLink]="['/doctorslist']">Manage Doctors</a>
                                </li>
                                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                        <a [routerLink]="['/patientslist']">Manage Patients</a>
                                </li>
                                <li>
                                        <a (click)="firstModal.open()">Register New User</a>
                                        <modal #firstModal>
                                                <modal-header>
                                                        <h1>Register User</h1>
                                                </modal-header>
                                                <modal-content>
                                                        <form (submit)="onRegisterSubmit()">
                                                                <div class="form-group">
                                                                        <label>Name</label>
                                                                        <input type="text" [(ngModel)]="name" name="name" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label>Username</label>
                                                                        <input type="text" [(ngModel)]="username" name="username" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label>Email</label>
                                                                        <input type="text" [(ngModel)]="email" name="email" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label>Password</label>
                                                                        <input type="password" [(ngModel)]="password" name="password" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                        <input type="radio" [(ngModel)]="userType" name="userType" value="Doctor">Doctor
                                                                        <br>
                                                                        <input type="radio" [(ngModel)]="userType" name="userType" value="Patient">Patient
                                                                        <br>
                                                                        <input type="radio" [(ngModel)]="userType" name="userType" value="Admin">Admin
                                                                        <br>
                                                                </div>
                                                                <input type="submit" class="btn btn-primary" value="Register">
                                                        </form>
                                                </modal-content>
                                                <modal-footer>
                                                </modal-footer>
                                        </modal>
                                </li>
                        </ul>
                </div>
        </div>
</nav>