<div *ngIf="user">
  <h1 style="color:green; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    Welcome to Dashboard: {{user.name}}
  </h1>
  <hr>
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div class="panel-group">
          <div class="panel panel-success">
            <div class="panel-heading">Manage Patients</div>
            <div class="panel-body">
              <div class="container">

                <button type="button" class="btn btn-default " (click)="ViewPatients.open()">Click here</button>

                <!-- Modal -->
                <modal #ViewPatients (onOpen)="onView()">
                  <modal-header>
                    <h1>View Patients</h1>
                  </modal-header>
                  <modal-content>
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Username</th>
                          <th>User Type</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      
                        <tr *ngFor="let user of patientData; let i = index">

                          <td>{{i + 1}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.userType}}</td>
                          <td>
                            <button type="button" class="btn btn-info glyphicon glyphicon-user" (click)="ViewPatientProfile.open()"></button>
                            <modal #ViewPatientProfile>
                              <modal-header>
                                <h1>{{user.name}}</h1>
                              </modal-header>
                              <modal-content>
                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Name: {{user.name}}</li>
                                    <li class="list-group-item">Username: {{user.username}}</li>
                                    <li class="list-group-item">Email: {{user.email}}</li>
                                    <li class="list-group-item">Address: {{user.address}}</li>
                                    <li class="list-group-item">Gender: {{user.gender}}</li>
                                    <li class="list-group-item">Age: {{user.age}}</li>
                                  </ul>
                                </div>

                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Date of Birth: {{user.dob}}</li>
                                    <li class="list-group-item">Room No: </li>
                                    <li class="list-group-item">Qualification: {{user.qualification}}</li>
                                    <li class="list-group-item">Designation: {{user.designation}}</li>
                                    <li class="list-group-item">Contact: {{user.contactnum}}</li>
                                  </ul>
                                </div>
                              </modal-content>
                              <modal-footer>
                              </modal-footer>
                            </modal>
                            <button type="button" class="btn btn-primary  glyphicon glyphicon-edit" (click)="EditPatientProfile.open()"></button>
                            <modal #EditPatientProfile (ngSubmit)="onUpdateUser(user)">
                              <modal-header>
                                <h1>Edit Profile</h1>
                              </modal-header>
                              <modal-content>
                                <form #myForm="ngForm" (ngSubmit)="onUpdateUser(user)">
                                  <div class="col-sm-6" style="display:inline-block">
                                    <div class="form-group">
                                      <label>Name</label>
                                      <input type="text" [(ngModel)]="user.name" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Username</label>
                                      <input type="text" [(ngModel)]="user.username" name="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Gender</label>
                                      <input type="text" [(ngModel)]="user.gender" name="gender" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Age</label>
                                      <input type="text" [(ngModel)]="user.age" name="age" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Qualification</label>
                                      <input type="text" [(ngModel)]="user.qualification" name="qualification" class="form-control">
                                    </div>
                                  </div>


                                  <div class="col-sm-6" style="display:inline-block">
                                    <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" [(ngModel)]="user.email" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Address</label>
                                      <input type="text" [(ngModel)]="user.address" name="address" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Date of Birth</label>
                                      <input type="text" [(ngModel)]="user.dob" name="dob" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Contact Number</label>
                                      <input type="text" [(ngModel)]="user.contactnum" name="contactnum" class="form-control">
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                              </modal-content>
                              <modal-footer>

                              </modal-footer>
                            </modal>

                            <button type="button" class="btn btn-danger  glyphicon glyphicon-trash" (click)="OnDeleteUser(user._id, i)"></button>
                          </td>
                        </tr>
                    </table>
                  </modal-content>
                  <modal-footer>
                  </modal-footer>
                </modal>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="panel-group">
          <div class="panel panel-success">
            <div class="panel-heading">Manage Doctors</div>
            <div class="panel-body">
              <div class="container">


                <button type="button" class="btn btn-default" (click)="ViewDoctors.open()">Click here</button>

                <!-- Modal -->
                <modal #ViewDoctors>
                  <modal-header>
                    <h1>View Doctors</h1>
                  </modal-header>
                  <modal-content>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Username</th>
                          <th>User Type</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      
                        <tr *ngFor="let user of doctorData; let i = index">

                          <td>{{i + 1}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.userType}}</td>
                          <td>
                            <button type="button" class="btn btn-info  glyphicon glyphicon-user" (click)="ViewDoctorProfile.open()"></button>
                            <modal #ViewDoctorProfile>
                              <modal-header>
                                <h1>{{user.name}}</h1>
                              </modal-header>
                              <modal-content>
                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Name: {{user.name}}</li>
                                    <li class="list-group-item">Username: {{user.username}}</li>
                                    <li class="list-group-item">Email: {{user.email}}</li>
                                    <li class="list-group-item">Address: {{user.address}}</li>
                                    <li class="list-group-item">Gender: {{user.gender}}</li>
                                    <li class="list-group-item">Age: {{user.age}}</li>
                                  </ul>
                                </div>

                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Date of Birth: {{user.dob}}</li>
                                    <li class="list-group-item">Room No: </li>
                                    <li class="list-group-item">Qualification: {{user.qualification}}</li>
                                    <li class="list-group-item">Designation: {{user.designation}}</li>
                                    <li class="list-group-item">Contact: {{user.contactnum}}</li>
                                  </ul>
                                </div>
                              </modal-content>
                              <modal-footer>
                              </modal-footer>
                            </modal>
                            <button type="button" class="btn btn-primary  glyphicon glyphicon-edit" (click)="EditDoctorProfile.open()"></button>
                            <modal #EditDoctorProfile (ngSubmit)="onUpdateUser(user)">
                              <modal-header>
                                <h1>Edit Profile</h1>
                              </modal-header>
                              <modal-content>
                                <form #myForm="ngForm" (ngSubmit)="onUpdateUser(user)">
                                  <div class="col-sm-6" style="display:inline-block">
                                    <div class="form-group">
                                      <label>Name</label>
                                      <input type="text" [(ngModel)]="user.name" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Username</label>
                                      <input type="text" [(ngModel)]="user.username" name="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Gender</label>
                                      <input type="text" [(ngModel)]="user.gender" name="gender" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Age</label>
                                      <input type="text" [(ngModel)]="user.age" name="age" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Qualification</label>
                                      <input type="text" [(ngModel)]="user.qualification" name="qualification" class="form-control">
                                    </div>
                                  </div>


                                  <div class="col-sm-6" style="display:inline-block">
                                    <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" [(ngModel)]="user.email" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Address</label>
                                      <input type="text" [(ngModel)]="user.address" name="address" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Date of Birth</label>
                                      <input type="text" [(ngModel)]="user.dob" name="dob" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Contact Number</label>
                                      <input type="text" [(ngModel)]="user.contactnum" name="contactnum" class="form-control">
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                              </modal-content>
                              <modal-footer>

                              </modal-footer>
                            </modal>

                            <button type="button" class="btn btn-danger  glyphicon glyphicon-trash" (click)="OnDeleteUser(user._id, i)"></button>
                          </td>
                        </tr>
                    </table>
                  </modal-content>
                  <modal-footer>
                  </modal-footer>
                </modal>


              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="panel-group">
          <div class="panel panel-success">
            <div class="panel-heading">Manage Staff</div>
            <div class="panel-body">
              <div class="container">


                <button type="button" class="btn btn-default" (click)="ViewStaffs.open()">Click here</button>


                <modal #ViewStaffs>
                  <modal-header>
                    <h1>View Staff</h1>
                  </modal-header>
                  <modal-content>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Username</th>
                          <th>User Type</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <ng-container *ngFor="let user of data; let i = index">
                        <tr *ngIf="user.userType=='Staff'">

                          <td>{{i + 1}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.userType}}</td>
                          <td>
                            <button type="button" class="btn btn-info  glyphicon glyphicon-user" (click)="ViewStaffProfile.open()"></button>
                            <modal #ViewStaffProfile>
                              <modal-header>
                                <h1>{{user.name}}</h1>
                              </modal-header>
                              <modal-content>
                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Name: {{user.name}}</li>
                                    <li class="list-group-item">Username: {{user.username}}</li>
                                    <li class="list-group-item">Email: {{user.email}}</li>
                                    <li class="list-group-item">Address: {{user.address}}</li>
                                    <li class="list-group-item">Gender: {{user.gender}}</li>
                                    <li class="list-group-item">Age: {{user.age}}</li>
                                  </ul>
                                </div>

                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Date of Birth: {{user.dob}}</li>
                                    <li class="list-group-item">Room No: </li>
                                    <li class="list-group-item">Qualification: {{user.qualification}}</li>
                                    <li class="list-group-item">Designation: {{user.designation}}</li>
                                    <li class="list-group-item">Contact: {{user.contactnum}}</li>
                                  </ul>
                                </div>
                              </modal-content>
                              <modal-footer>
                              </modal-footer>
                            </modal>
                            <button type="button" class="btn btn-primary  glyphicon glyphicon-edit" (click)="EditStaffProfile.open()"></button>
                            <modal #EditStaffProfile (ngSubmit)="onUpdateUser(user)">
                              <modal-header>
                                <h1>Edit Staff Profile</h1>
                              </modal-header>
                              <modal-content>
                                <form #myForm="ngForm" (ngSubmit)="onUpdateUser(user)">
                                  <div class="col-sm-6" style="display:inline-block">
                                    <div class="form-group">
                                      <label>Name</label>
                                      <input type="text" [(ngModel)]="user.name" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Username</label>
                                      <input type="text" [(ngModel)]="user.username" name="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Gender</label>
                                      <input type="text" [(ngModel)]="user.gender" name="gender" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Age</label>
                                      <input type="text" [(ngModel)]="user.age" name="age" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Qualification</label>
                                      <input type="text" [(ngModel)]="user.qualification" name="qualification" class="form-control">
                                    </div>
                                  </div>


                                  <div class="col-sm-6" style="display:inline-block">
                                    <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" [(ngModel)]="user.email" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Address</label>
                                      <input type="text" [(ngModel)]="user.address" name="address" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Date of Birth</label>
                                      <input type="text" [(ngModel)]="user.dob" name="dob" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Contact Number</label>
                                      <input type="text" [(ngModel)]="user.contactnum" name="contactnum" class="form-control">
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                              </modal-content>
                              <modal-footer>

                              </modal-footer>
                            </modal>

                            <button type="button" class="btn btn-danger  glyphicon glyphicon-trash" (click)="OnDeleteUser(user._id, i)"></button>
                          </td>
                        </tr>
                      </ng-container>
                    </table>
                  </modal-content>
                  <modal-footer>
                  </modal-footer>
                </modal>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />


  <!-- Next three divs -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel-group">
          <div class="panel panel-success">
            <div class="panel-heading">Manage Appointments</div>
            <div class="panel-body">
              <div class="container">
                <button type="button" class="btn btn-default" (click)="CreateAppointment.open()">Create Appointment</button>
                <modal #CreateAppointment>
                  <modal-header>
                    <h1>Create Appointment</h1>
                  </modal-header>
                  <modal-content>
                    <form (submit)="onAppointmentSubmit()">
                      <div class="form-group">
                        <label>Name</label>
                        <select [(ngModel)]="name" name="name" class="form-control ">
                            <option [ngValue]="undefined" disabled selected>Select Patient</option>
                            <option *ngFor="let user of patientData">{{user.name}}</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <label>Doctor Name</label>
                        <select [(ngModel)]="drname" name="drname" class="form-control ">
                          <option [ngValue]="undefined" disabled selected>Select Doctor</option>
                          <option *ngFor="let user of doctorData">{{user.name}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Appointment Type</label>
                        <input type="text" [(ngModel)]="aptType" name="aptType" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Appointment Status</label>
                        <input type="text" [(ngModel)]="aptStatus" name="aptStatus" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Appointment Date Created</label>
                        <input type="text" [(ngModel)]="aptDateCreated" name="aptDateCreated" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" [(ngModel)]="contactnum" name="contactnum" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Appointment Date</label>
                        <input type="text" [(ngModel)]="aptDate" name="aptDate" class="form-control">
                      </div>
                      <input type="submit" class="btn btn-primary" value="Create">
                    </form>
                  </modal-content>
                  <modal-footer>
                  </modal-footer>
                </modal>

                <button type="button" class="btn btn-default" (click)="ViewAppointments.open()">View Appointments</button>


                <div class="row">

                  <modal #ViewAppointments (onOpen)="onAppointmentView()" modalClass="modal-lg">
                    <modal-header>
                      <h1>View Appointments</h1>
                    </modal-header>
                    <modal-content>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Doctor Name</th>
                            <th>Appointment Type</th>
                            <th>Actions</th>
                          </tr>
                        </thead>

                        <tr *ngFor="let appointment of aptData; let i = index">

                          <td>{{i + 1}}</td>
                          <td>{{appointment.name}}</td>
                          <td>{{appointment.drname}}</td>
                          <td>{{appointment.aptType}}</td>
                          <td>
                            <button type="button" class="btn btn-info  glyphicon glyphicon-user" (click)="ViewAppointment.open()"></button>
                            <modal #ViewAppointment>
                              <modal-header>
                                <h1>Patient Name: {{appointment.name}}</h1>
                              </modal-header>
                              <modal-content>
                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Patient Name: {{appointment.name}}</li>
                                    <li class="list-group-item">Doctor Name: {{appointment.drname}}</li>
                                    <li class="list-group-item">Appointment Type: {{appointment.aptType}}</li>
                                    <li class="list-group-item">Appointment Status: {{appointment.aptStatus}}</li>
                                  </ul>
                                </div>

                                <div class="col-sm-6" style="display:inline-block">
                                  <ul class="list-group">
                                    <li class="list-group-item">Appointment Creation Date: {{appointment.aptDateCreated}}</li>
                                    <li class="list-group-item">Appointment Date: {{appointment.aptDate}}</li>
                                    <li class="list-group-item">Contact Num: {{appointment.contactnum}}</li>
                                  </ul>
                                </div>
                              </modal-content>
                              <modal-footer>
                              </modal-footer>
                            </modal>
                            <button type="button" class="btn btn-primary  glyphicon glyphicon-edit" (click)="EditAppointment.open()"></button>
                            <modal #EditAppointment (ngSubmit)="onUpdateApt(user)">
                              <modal-header>
                                <h1>Edit Profile</h1>
                              </modal-header>
                              <modal-content>
                                <form #myForm="ngForm" (ngSubmit)="onUpdateApt(appointment)">
                                  <div class="col-sm-6" style="display:inline-block">
                                    <div class="form-group">
                                      <label>Name</label>
                                      <input type="text" [(ngModel)]="appointment.name" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Doctor Name</label>
                                      <input type="text" [(ngModel)]="appointment.drname" name="drname" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Appointment Type</label>
                                      <input type="text" [(ngModel)]="appointment.aptType" name="apyType" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Appointment Status</label>
                                      <input type="text" [(ngModel)]="appointment.aptStatus" name="aptStatus" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label>Contact Number</label>
                                      <input type="text" [(ngModel)]="appointment.contactnum" name="contactnum" class="form-control">
                                    </div>
                                  </div>

                                  <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                              </modal-content>
                              <modal-footer>

                              </modal-footer>
                            </modal>

                            <button type="button" class="btn btn-danger  glyphicon glyphicon-trash" (click)="OnDeleteAppointment(appointment._id, i)"></button>
                          </td>
                        </tr>

                      </table>
                    </modal-content>
                    <modal-footer>
                    </modal-footer>
                  </modal>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel-group">
          <div class="panel panel-success">
            <div class="panel-heading">Manage Hospital</div>
            <div class="panel-body">
              <div class="container">


                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Click Here</button>


                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">


                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Hospital Managment</h4>
                      </div>
                      <div class="modal-body">
                        <p>Feature Coming Soon</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel-group">
          <div class="panel panel-success">
            <div class="panel-heading">Manage Finance</div>
            <div class="panel-body">
              <div class="container">


                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Click Here</button>

                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">


                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Finance Management</h4>
                      </div>
                      <div class="modal-body">
                        <p>Feature Coming Soon</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>